<!-- Header che và in tutte le pagine -->
<header class="z">
  <div class="header-left">
      <div class="logo">
          <img class="logoimg" src="../../../assets/logo.jpg" alt="">
      </div>
      <div class="titles">
          <h1>MikeDmC come non lo hai mai visto.</h1>
          <h2>Se sai fare qualcosa, non farlo gratis.</h2>
      </div>
      <!-- codice nav quì -->
  </div>
  <div class="header-right">

      <nav #nav class="">
          <ul #barra class="accanto">
              <li>
                  <a href="/" class="active">Home</a>
              </li>
              <li>
                <p class="b">Vendo:</p>
              </li>
              <li>
                  <a href="/bots">Bot ds</a>
              </li>
              <li>
                  <a href="/server">Server ds</a>
              </li>
              <li>
                  <a href="/nulla">Nulla</a>
              </li>
          </ul>
      </nav>

      <div #menu class="menu" (click)="toggleNav()">
          <div></div>
          <div></div>
          <div></div>
      </div>
  </div>
</header>
