/* Side Bar */
.sidebar {
  position: fixed;
  top: 50%;
  right: 0;
  font-size: 18px;
  transform: translateY(-50%);
  background-color: #0B2239;
  width: auto;
  padding: 10px;
  border-radius: 25px 0 0 25px;
}

/* Alcuni dei colori con lo sfondo */
.color-title, .grid-item h2,.grid-section2 h2, #section3 h2{
  color: rgb(0, 94, 255);
  text-shadow: 0 0 3px rgba(65, 239, 255, 0.5);
}

.color-desc, .grid-item p, .grid-section2 p, #section3 p{
  color: white;
  text-shadow: 0 0 10px rgba(65, 239, 255, 0.5);
}

.color-link, #section2 a, .grid-section2 a, #section3 a{
  color: rgb(0, 208, 255);
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

/* fine side bar */

.sidebar a {
  font-family: 'DynaPuff', cursive;
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px;
}

.sidebar a:hover {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all ease 0.3s;
}

/* Prima Section */
section{
  height: 100vh;
  background-color: black;
  color: white;
}

#section1{
  height: 93vh;
}

.divider{
  margin: 0 auto;
  width: 90%;
  height: 2px;
  background-color: hsla(0,0%,100%,.1);
}

.dividerVerticale {
  width: 68%;
  height: 20%; /* altezza desiderata */
  width: 2px;
  background-color: hsla(0, 0%, 100%, 0.1); /* larghezza e colore della linea */
}

/* section1 */
.grid-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-row {
  display: block;
  justify-content: center;
  width: 40vw;
}

.grid-item {
  text-align: center;
  padding: 20px;
}

.grid-item h2 {
  font-size: 34px;
  margin-bottom: 10px;
}

.grid-item p {
  font-size: 20px;
}

.red{
  border: 2px solid red;
}

/* Section 2 */
#section2 {
  height: auto;
  justify-content: center;
  align-items: center;
}

.titol{
  height: 20vh;
  text-align: center;
  font-size: 10vh;
}

.item, .item-inverted, .titolo{
  height: 20vh;
  display: flex;
  align-items: center;
}

.item{
  justify-content: left;
  padding-left: 20%;
}

.item-inverted{
  justify-content: right;
  padding-right: 20%;
}

.item h2, .item-inverted h2 {
  text-align: left;
  margin: 0 0 10px 10px;
  font-size: 34px;
}

.item p, .item-inverted p {
  font-size: 24px;
}

.item-inverted h2, .item-inverted p{
  text-align: right;
}

#section2 a:hover{
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  padding: 2px;
  transition: all ease 0.3s;
}

.item img, .item-inverted img {
  height: 10vh;
  border-radius: 50%;
  margin: 0 10px 0 10px;
}
/* Section 2 fine */
/* section 3 */
#section3, .section3{
  justify-content: center;
  align-items: center;
  align-items: baseline;
}

#section3{
  display: block;
}

.section3{
  display: flex;
}

.table-container{
  width: 25vw;
  height: auto;
  background-color: rgb(41, 161, 143);
  margin: 25px;
}

.table-title{
  margin: 1.5%;
  padding: 1%;
  font-size: 250%;

  background-color: #0B2239;
  text-align: center;

  border: 2px solid black;
  border-radius: 17px;
}

.table-desc{
  margin: 4%;
  font-size: 150%;
  text-align: center;
}

#section3 a:hover{
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  transition: all ease 0.3s;
}

.colore1{
  background-color: #394C4D;
}

/* section 3 fine */

/* Responsive */
@media only screen and (max-width: 1300px){

  .table-title{
    margin: 1.5%;
    padding: 1%;
    font-size: 250%;

    background-color: #0B2239;
    text-align: center;

    border: 2px solid black;
    border-radius: 17px;
  }

  .table-desc{
    margin: 4%;
    font-size: 135%;
    text-align: center;
  }
}

@media only screen and (max-width: 1000px) {

  .red{
    border: 2px solid cyan;
  }

  /* side bar */
  .sidebar{
    display: none;
  }

  /* section 1 */
  #section1{
    height: auto;
  }

  .grid-section {
    display: block;
  }

  .grid-row {
    width: auto;
  }

  .grid-item {
    padding: 20px;
  }

  .grid-item h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .grid-item p {
    font-size: 12px;
  }

  .dividerVerticale{
    margin: 0 auto;
    width: 90%;
    height: 2px;
    background-color: hsla(0,0%,100%,.1);
  }

  /* section 1 fine */
  /* section 2 */

  #section2 h2{
    font-size: 20px;
  }
  #section2 p{
    font-size: 12px;
  }

  .titol{
    padding-top: 5vh;
    height: auto;
    font-size: 10vh;
    padding-bottom: 1vh;
  }
  /* section 2 fine */
  /* Section 3 */

  #section3{
    display: block;
    height: auto;
  }

  .section3{
    display: block;
  }

  .titol, #section2 h2{
    font-size: 200%;
  }

  .table-container{
    width: 90%;
    height: auto;
    margin: 20px 5% 0 5%;
    padding: 10px;
  }

  .table-title{
    font-size: 20px;
    background-color: #0B2239;
    text-align: center;
    border: 2px solid black;
    border-radius: 17px;
    margin-top: 5px;
  }

  .table-desc{
    margin: 0;
    font-size: 12px;
    padding-bottom: 30px;
  }

  /* section 3 fine */

}

@media (max-width: 400px) {

  .red{
    border: 2px solid yellow;
  }

  .grid-item {
    padding: 15px;
  }

  .grid-item h2 {
    font-size: 16px;
  }

  .grid-item p {
    font-size: 8px;
  }

  /* section 2 */
  .item{
    justify-content: left;
    padding-left: 5%;
  }

  .item-inverted{
    justify-content: right;
    padding-right: 5%;
  }

  #section2 h2{
    font-size: 16px;
  }
  #section2 p{
    font-size: 8px;
  }


  /* section 2 fine */

  /* section 3 */

  .titol{
    font-size: 16px;
  }

  .table-title{
    font-size: 16px;
    margin-top: 1px;
  }

  .table-desc{
    margin: 0;
    font-size: 11px;
    padding-bottom: 30px;
  }

  /* section 3 fine */

}
