<div class="sidebar">
  <a href="/bots#">Sezione 1</a>
  <a href="/bots#section2">Sezione 2</a>
  <a href="/bots#section3">Sezione 3</a>
</div>

<section id="section1" class="grid-section">
  <div class="grid-row red">
    <div class="grid-item">
      <h2>Informazioni sui Bot Discord</h2>
      <p>È possibile fare tutto ciò che ti viene in mente o almeno ci posso provare! È possibile creare un bot che ti aiuti a moderare, a gestire i ruoli, a rispondere alle domande ripetute ed a interagire con l'utenza</p>
    </div>
    <div class="divider"></div>
    <div class="grid-item">
      <h2>Host del bot</h2>
      <p>Una volta acquistato il bot per un mese lo terrò io acceso, una volta finito il mese potrai scegliere di acquistare il file eseguibile per accendere il bot o abbonarti al mio patreon facendo in modo che continui io a tenerlo acceso</p>
    </div>
  </div>

  <div class="dividerVerticale"></div>

  <div class="grid-row">
    <div class="grid-item">
      <h2>Cosa c'è di Personalizzabile?</h2>
      <p>Oltre all'infinita lista di comandi che esistono e che posso creare, <br> il bot potrà avere lo stato, l'attività, la foto profilo e la descrizione.</p>
    </div>
    <div class="divider"></div>
    <div class="grid-item">
      <h2>Altre info</h2>
      <p>I miei bot sono creati in Java diversamente da quelli più comuni che sono programmati in Js e Python. Utilizzo prevalentemente documentazione mista tra il discord JDA, DV8FromTheWorld e chatgpt.</p>
    </div>
  </div>
</section>

<section id="section2">
  <div class="divider"></div>
</section>

<section id="section3">
  <div class="divider"></div>
</section>
